<!DOCTYPE html>
<html>
  <head>
    <title>Career</title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Saad Careers</h1>
      <img
        class="img-fluid"
        id="banner"
        src="https://img.freepik.com/free-photo/hands-holding-balloons-spelling-career_53876-146852.jpg"
      />
      <h2 class="text-center">About us</h2>
      <p class="lead">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
        similique mollitia, quam non repellendus soluta voluptatibus eos fugit
        dolorem nemo a voluptate. Illum quisquam provident quis nesciunt
        perspiciatis itaque minima!Lorem Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Eaque quod ipsam, autem ad quasi porro doloribus.
        Praesentium veniam consequatur, culpa itaque ex animi quod omnis amet
        accusamus blanditiis, minima inventore.
      </p>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
    </div>
  </body>
</html>
